<h2>Доска!</h2>
<div class='table'>
<table class='list'>
<thead>
<tr>
<th>branch</th>
<th>Exchange</th>
<th>Sverka</th>
</tr>

</thead>
<tbody>
<tr class='alt1'>
<td >MSK</td>
<td><div id="circlegreen"></div></td>
<td><div id="circlered"></div></td>
</tr>
<tr class='alt2'>
<td>VLG</td>
<td><div id="circlered"></div></td>
<td><div id="circlegreen"></div></td>
</tr>
</tbody>
</table>
</div>

