// Place all the styles related to the Branches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// You can use Sass (SCSS) here: http://sass-lang.com/
#error_explanation {
  color: #de2020;
}

 p a  {
  color: #fff !important; /* цвет текста */
  text-decoration: none !important; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: rgb(212,75,56); /* фон кнопки */
  padding: .7em 1.5em; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
}

input[type="submit"] {
  color: #fff !important;
  background: rgb(212,75,56);
  padding: .6em 1.2em;
  border-width: 0px;
}

.table {
  display: block;
}
table { border-collapse: collapse; }
table th { font-weight: normal; color: black; }
table th, table td { font: 12px Verdana,sans-serif; padding: 5px 4px;}
table.list th, table.list td { vertical-align: top; min-width: 5em; width: auto; }
table.list { border-width: 1px; margin-bottom: 1em; }
table.list th, table.list td { border: 1px solid #ccc; }
table.list th { text-align: center; }
table.list th.plus-minus { border: none; min-width: 2em; }
table.list td a { display: block; width: 100%; }
table.list th a.sort { display: block; width: 100%; cursor: pointer; }
table.list th a.sort .arrow { color: #888; }
table.list td p { margin: 0; padding: 1px 0 0 0; }
table.list td p.warning { margin: 0; padding: 5px; }

table.list td.plain, table.list td.plain td, table.list td.plain th { border: none; background: none; }
table.list th.plain { border-left: none; border-top: none; border-right: none; background: none; }
table.list th.plain h3 { margin: 0; border: 0; }
