<!DOCTYPE html>
<html>
<head>
    <title>DashBoardRarus</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<div id="outer">
    <div id="header">
        <div id="menu">
            <ul id="tabs">
                <li><a href="/">Таски</a></li>
                <li><a href="/conf">Управление</a></li>
            </ul>
        </div>
    </div>
    <div id="main">
        <%= yield %>
    </div>
</div>
</body>
</html>